.contact {
  padding: 80px 20px;
  background-color: #ffffff;
}

.contact-container {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.contact h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #111;
}

.contact p {
  font-size: 1.05rem;
  color: #555;
  margin-bottom: 35px;
  line-height: 1.6;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 14px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  resize: vertical;
}

.contact-form textarea {
  min-height: 120px;
}

.contact-form button {
  padding: 14px 20px;
  background-color: #2563eb;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: #1e40af;
}

.contact-info {
  margin-top: 25px;
  font-size: 0.95rem;
  color: #555;
}
.contact-container {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

.contact-container.show {
  opacity: 1;
  transform: translateY(0);
}


/* Tablet */
@media (max-width: 768px) {
  .contact h2 {
    font-size: 2.2rem;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .contact {
    padding: 60px 15px;
  }
}
