.services {
  padding: 80px 20px;
  margin-top: -40px;
  background-color: #ffffff;
}

.services-container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.services-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #111;
  margin-bottom: 4px;
}

.services-subtitle {
  margin-top: 10px;
  margin-bottom: 44px;
  font-size: 1.1rem;
  color: #555;
}

.services-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.service-card {
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.41);
  margin-top: 8px;
  background: #f9f9f9;
  padding: 35px 25px;
  border-radius: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.68);
}

.service-icon {
  font-size: 2.5rem;
  color: #2563eb;
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 1.3rem;
  color: #111;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.6;
}

/* Tablet */
@media (max-width: 992px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 576px) {
  .services {
    padding: 60px 15px;
  }

  .services-title {
    font-size: 2rem;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }
}


.service-card {
  background: #f9f9f9;
  padding: 35px 25px;
  border-radius: 16px;
  transition: all 0.3s ease;
  cursor: pointer;

  /* Initial state for animation */
  opacity: 0;
  transform: translateY(50px); /* Slide from bottom */
}

.service-card.show {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s ease-out;
}

/* Optional: stagger animation using delay */
.services-grid .service-card:nth-child(1).show { transition-delay: 0.1s; }
.services-grid .service-card:nth-child(2).show { transition-delay: 0.2s; }
.services-grid .service-card:nth-child(3).show { transition-delay: 0.3s; }
.services-grid .service-card:nth-child(4).show { transition-delay: 0.4s; }




@media(max-width:768px) {
  
  .service-card{
    box-shadow: none;
  }
  .service-card:hover{
    box-shadow: none;
  }
}


